<html>
  <head>
    <title>EasyRedis</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link href='http://fonts.googleapis.com/css?family=Radley' rel='stylesheet' type='text/css'>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18395318-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div id="page-container">
      <div id="header">
        <h1>EasyRedis<br /><small>simple redis data storage</small></h1>
        <div id="nav">
          <ul>
            <li><a href=".">HOME</a></li>
            <li><a href="readme.html">README</a></li>
            <li><a href="http://rubydoc.info/gems/easyredis/0.0.5/frames">DOCS</a></li>
            <li><a href="https://github.com/alecbenzer/easyredis">SOURCE</a></li>
          </ul>
        </div>
      </div>
      <div id="main">
        {{ content }}
      </div>
      <a href="http://github.com/alecbenzer/easyredis"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://assets2.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71?repo=&url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_right_darkblue_121621.png&path=" alt="Fork me on GitHub"></a>
    </div>
  </body>
</html>

